[Unit]
Description=Package Listener
After=multi-user.target

[Service]
Type=simple
Restart=always
User=deploy
ExecStart=/usr/bin/python3 /home/deploy/Desktop/backup_repo/listenpkg.py

[Install]
WantedBy=multi-user.target
