[Unit]
Description=Package Listener
After=multi-user.target

[Service]
Type=simple
Restart=always
User=backend
ExecStart=/usr/bin/python3 /home/backend/Desktop/backup_repo/siglisten.py

[Install]
WantedBy=multi-user.target
